@charset "UTF-8";

* {margin: 0px;}

header {
    background-color: black;
    color: white;
    margin-bottom: 25px;
    
}

#header_universo {
    height: 200px;
    position: relative;
    padding: 10px;

}

#header_conteudo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

pre {
    font-family: cursive;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.7em;
    font-family: cursive;

}

main > div {   
    margin: 0 0 30px 32px;
    max-width: 45%;
    padding: 8px 0 0 5px;
}

#d1 {
    background-color: white;
    color: black;
    font-style: italic;
    max-width: 45%;
}

#d2 {
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
}

#d3 {

}

#d4 {

}

#d5 {
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.436);
}
footer {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}