@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
     }

    * {margin: 0px;}

a {
    text-decoration: none;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    font-size: 10vw;
    font-weight: bold;
    font-variant: small-caps;
    padding: 50px 0px 0px 0px;
}

header > p {
    font-family: var(--fonte1);
    font-size: 2vw;
    padding: 0 0 50px 0;

}

header a {
    color: white;
    font-weight: bold;
    
}

header a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    
}

div#normal {
    margin: 30px 0px 80px 30px;
}

#div_duplo {
    margin: 30px 0px 90px 30px;
}
#p_duplo {
    margin-bottom: 70px;
}

div#imagem1 {
    position: relative;
    background: url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover; 
    height: 54vw;    

}

p.imagem {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 41vw;
    color: white;
    padding: 5px 2px 10px 5px;
    margin: 0 0 0 30px;
    
    top: 8%;
}

div#imagem2 {
    position: relative;
    background: url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover; 
    height: 54vw;  
    text-shadow: 1px 1px rgba(0, 0, 0, 0.458);

}

p.imagem2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 41.7vw;
    color: white;
    padding: 5px 2px 10px 5px;
    margin: 0 0 0 30px;
    
    top: 8%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}